:root {
  --background: #1c1c1c;
  --primary: #303030;
  --header: #fafafa;
  --text: #cecece;
  --text_filter: invert(79%) sepia(0%) saturate(0%) hue-rotate(274deg) brightness(109%) contrast(85%);
  --accent: #c23a30;
  --accent_filter: invert(27%) sepia(50%) saturate(4407%) hue-rotate(349deg) brightness(83%) contrast(80%);
  --shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: satoshi;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  color: var(--header);
  font-size: 22px;
  font-family: Satoshi-Bold;
}

h2 {
  color: var(--header);
  font-size: 18px;
  font-family: Satoshi-Medium;
}

p, a {
  color: var(--text);
  font-size: 16px;
  font-family: Satoshi-Regular;
  text-decoration: none;
}

#app {
  max-width: 1280px;
  margin: 0;
  padding: 22px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f2f2f2;
    --primary: #fafafa;
    --header: #212121;
    --text: #3c3c3c;
    --text_filter:filter: invert(22%) sepia(1%) saturate(3398%) hue-rotate(30deg) brightness(96%) contrast(92%);
    --accent: #c23a30;
    --accent_filter: invert(27%) sepia(50%) saturate(4407%) hue-rotate(349deg) brightness(83%) contrast(80%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --primary: #303030;
    --header: #fafafa;
    --text: #cecece;
    --text_filter: invert(79%) sepia(0%) saturate(0%) hue-rotate(274deg) brightness(109%) contrast(85%);
    --accent: #c23a30;
    --accent_filter: invert(27%) sepia(50%) saturate(4407%) hue-rotate(349deg) brightness(83%) contrast(80%);
  }
}

@media (max-width: 600px) {
  #app {
    padding: 6px;
  }
}
